{% load static %}
<section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="images/full-width-images/section-bg-2.jpg">
    <div class="container relative">
        
        <div class="row">
            
            <div class="col-sm-6">
                
                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">{{ fourth_section.content.content }}</h3>
                        <div class="banner-decription">
                            {{ fourth_section.content.sub_content }}
                        </div>
                        <div class="local-scroll">
                            <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-sm-6 banner-image wow fadeInUp">
                <img src="{% static 'fourth_section.fourth_section_pic.image.image.url' %}" alt="" />
            </div>
            
        </div>
        
    </div>
</section>