{% extends 'enuda_house_app/base.html' %}
{% load static %}

{% block main_section %}
            
            
            <!-- About Section  -->
            {% include 'enuda_house_app/about_section.html' %}
            <!-- End About Section -->

            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->
            
            <!-- Services Section -->
            {% include 'enuda_house_app/services_section.html' %}
            <!-- End Services Section -->
            
            
            <!-- Call Action Section -->
            {% include 'enuda_house_app/call_action_section.html' %}
            <!-- End Call Action Section -->
            
            
            <!-- Portfolio Section -->
            {% include 'enuda_house_app/portfolio_section.html' %}
            <!-- End Portfolio Section -->
            
            
            <!-- Call Action Section -->
            <section class="small-section bg-dark">
                <div class="container relative">
                    
                    <div class="align-center">
                    <!-- {% if isChinese == "True" and sixth_section.chinese_header %} -->
                 <!--   <h3 class="banner-heading font-alt">{{ sixth_section.chinese_header }}</h3> -->
                    <!-- {% else %} -->
                        <h3 class="banner-heading font-alt">{{ sixth_section.header }}</h3>
                    <!-- {% endif %} -->
                        <div class="local-scroll">
                    <!-- {% if isChinese == "True" and sixth_section.chinese_button %} -->
                    <!--   <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">{{ sixth_section.chinese_button }}</a> -->
                    <!-- {% else %} -->
                            <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">{{ sixth_section.button }}</a>
                    <!-- {% endif %} -->
                        </div>
                    
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->
            
            
            <!-- Features Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Why Choose Us?
                    </h2>
                    
                    <!-- Features Grid -->
                    <div class="row multi-columns-row alt-features-grid">
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="{{ seventh_section.first_icon_section.icon.name }}"></span>
                                </div>

                        <!-- {% if isChinese == "True" and seventh_section.first_icon_section.text_section.chinese_content %} -->
                          <!--   <h3 class="alt-features-title font-alt">{{ seventh_section.first_icon_section.text_section.chinese_content }}</h3> -->

                        <!-- {% else %} -->

                                <h3 class="alt-features-title font-alt">{{ seventh_section.first_icon_section.text_section.content }}</h3>
                        
                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and seventh_section.first_icon_section.text_section.chinese_content %} -->

                         <!--   <div class="alt-features-descr align-left">
                                    {{ seventh_section.first_icon_section.text_section.chinese_sub_content }}
                                </div> -->

                        <!-- {% else %} -->

                                <div class="alt-features-descr align-left">
                                    {{ seventh_section.first_icon_section.text_section.sub_content }}
                                </div>

                        <!-- {% endif %} -->

                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="{{ seventh_section.second_icon_section.icon.name }}"></span>
                                </div>

                        <!-- {% if isChinese == "True" and seventh_section.second_icon_section.text_section.chinese_content %} -->

                         <!--   <h3 class="alt-features-title font-alt">{{ seventh_section.second_icon_section.text_section.chinese_content }}</h3> -->

                        <!-- {% else %} -->

                                <h3 class="alt-features-title font-alt">{{ seventh_section.second_icon_section.text_section.content }}</h3>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and seventh_section.second_icon_section.text_section.chinese_sub_content %} -->        
                        <!--    <div class="alt-features-descr align-left">
                                   {{ seventh_section.second_icon_section.text_section.chinese_sub_content }}
                                </div> -->

                        <!-- {% else %} -->

                               <div class="alt-features-descr align-left">
                                   {{ seventh_section.second_icon_section.text_section.sub_content }}
                                </div> -->

                        <!-- {% endif %} -->

                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="{{ seventh_section.third_icon_section.icon.name }}"></span>
                                </div>
                        <!-- {% if isChinese == "True" and seventh_section.third_icon_section.text_section.chinese_content %} -->

                        <!--   <h3 class="alt-features-title font-alt">{{ seventh_section.third_icon_section.text_section.chinese_content }}</h3> -->

                        <!-- {% else %} -->

                               <h3 class="alt-features-title font-alt">{{ seventh_section.third_icon_section.text_section.content }}</h3> 
                        <!-- {% endif %} --> 


                        <!-- {% if isChinese == "True" and seventh_section.third_icon_section.text_section.chinese_sub_content %} -->

                        <!--    <div class="alt-features-descr align-left">
                                    {{ seventh_section.third_icon_section.text_section.chinese_sub_content }}
                                </div> -->

                        <!-- {% else %} -->

                                <div class="alt-features-descr align-left">
                                    {{ seventh_section.third_icon_section.text_section.sub_content }}
                                </div>
                        <!-- {% endif %} -->
                            </div>
                        
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="{{ seventh_section.fourth_icon_section.icon.name }}"></span>
                                </div>

                        <!-- {% if isChinese == "True" and seventh_section.fourth_icon_section.text_section.chinese_content %} -->
                               
                        <!--    <h3 class="alt-features-title font-alt">{{ seventh_section.fourth_icon_section.text_section.chinese_content }}</h3> -->

                        <!-- {% else %} -->

                                <h3 class="alt-features-title font-alt">{{ seventh_section.fourth_icon_section.text_section.content }}</h3>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and seventh_section.fourth_icon_section.text_section.chinese_sub_content %} -->

                        <!--    <div class="alt-features-descr align-left">
                                    {{ seventh_section.fourth_icon_section.text_section.chinese_sub_content }}
                                </div> -->

                        <!-- {% else %} -->

                                <div class="alt-features-descr align-left">
                                    {{ seventh_section.fourth_icon_section.text_section.sub_content }}
                                </div>
                        <!-- {% endif %} -->

                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="{{ seventh_section.fifth_icon_section.icon.name }}"></span>
                                </div>

                        <!-- {% if isChinese == "True" and seventh_section.fifth_icon_section.text_section.chinese_content %} -->

                        <!--    <h3 class="alt-features-title font-alt">{{ seventh_section.fifth_icon_section.text_section.chinese_content }}</h3> -->

                        <!-- {% else %} -->

                                <h3 class="alt-features-title font-alt">{{ seventh_section.fifth_icon_section.text_section.content }}</h3>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and seventh_section.fifth_icon_section.text_section.chinese_sub_content %} -->

                        <!--    <div class="alt-features-descr align-left">
                                    {{ seventh_section.fifth_icon_section.text_section.chinese_sub_content }}
                                </div> -->

                        <!-- {% else %} -->

                                <div class="alt-features-descr align-left">
                                    {{ seventh_section.fifth_icon_section.text_section.sub_content }}
                                </div>

                        <!-- {% endif %} -->

                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="{{ seventh_section.sixth_icon_section.icon.name }}"></span>
                                </div>
                                
                        <!-- {% if isChinese == "True" and seventh_section.sixth_icon_section.text_section.chinese_content %} -->

                        <!--    <h3 class="alt-features-title font-alt">{{ seventh_section.sixth_icon_section.text_section.chinese_content }}</h3 -->

                        <!-- {% else %} -->

                                <h3 class="alt-features-title font-alt">{{ seventh_section.sixth_icon_section.text_section.content }}</h3>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and seventh_section.sixth_icon_section.text_section.chinese_sub_content %} -->

                        <!--    <div class="alt-features-descr align-left">
                                    {{ seventh_section.sixth_icon_section.text_section.chinese_sub_content }}
                                </div> -->

                        <!-- {% else %} -->

                                <div class="alt-features-descr align-left">
                                    {{ seventh_section.sixth_icon_section.text_section.sub_content }}
                                </div>

                        <!-- {% endif %}

                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                    </div>
                    <!-- End Features Grid -->
                
                </div>
            </section>
            <!-- End Features Section -->
            
            
            <!-- Testimonials Section -->
            <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="images/full-width-images/section-bg-3.jpg">
                
                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title -->
                        <!-- {% if isChinese == "True" and eighth_section.chinese_header %} -->

                        <!--    <h3 class="small-title font-alt">{{ eighth_section.chinese_header }}</h3> -->

                        <!-- {% else %} -->

                                <h3 class="small-title font-alt">{{ eighth_section.header }}</h3>
                        <!-- {% endif %} -->


                                <blockquote class="testimonial white">

                        <!-- {% if isChinese == "True" and eighth_section.quote_who_one.chinese_content %} -->

                        <!--        <p>
                                        {{ eighth_section.quote_who_one.chinese_content }}
                                    </p> -->

                        <!-- {% else %} -->

                                    <p>
                                        {{ eighth_section.quote_who_one.content }}
                                    </p>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and eighth_section.quote_who_one.chinese_sub_content %} -->

                        <!--        <footer class="testimonial-author">
                                        {{ eighth_section.quote_who_one.chinese_sub_content }}
                                    </footer> -->

                        <!-- {% else %} -->

                                    <footer class="testimonial-author">
                                        {{ eighth_section.quote_who_one.sub_content }}
                                    </footer>
                        <!-- {% endif %} -->

                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title -->

                        <!-- {% if isChinese == "True" and eighth_section.chinese_header %} -->

                        <!--    <h3 class="small-title font-alt">{{ eighth_section.chinese_header }}</h3> -->

                        <!-- {% else %} -->

                                <h3 class="small-title font-alt">{{ eighth_section.header }}</h3>

                        <!-- {% endif %} -->

                                <blockquote class="testimonial white">

                        <!-- {% if isChinese == "True" and eighth_section.quote_who_two.chinese_content %} -->  

                                    <p>
                                        {{ eighth_section.quote_who_two.content }}
                                    </p>

                        <!-- {% else %} -->

                                    <p>
                                        {{ eighth_section.quote_who_two.content }}
                                    </p>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and eighth_section.quote_who_two.chinese_sub_content %} -->  

                        <!--         <footer class="testimonial-author">
                                        {{ eighth_section.quote_who_two.chinese_sub_content }}
                                    </footer> -->

                        <!-- {% else %} -->

                                    <footer class="testimonial-author">
                                        {{ eighth_section.quote_who_two.sub_content }}
                                    </footer>

                        <!-- {% endif %} -->

                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title -->

                        <!-- {% if isChinese == "True" and eighth_section.chinese_header %} -->

                        <!--    <h3 class="small-title font-alt">{{ eighth_section.chinese_header }}</h3> -->

                        <!-- {% else %} -->        

                                <h3 class="small-title font-alt">{{ eighth_section.header }}</h3>

                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and eighth_section.quote_who_three.content %} -->

                                <blockquote class="testimonial white">

                            <!--    <p>
                                        {{ eighth_section.quote_who_three.content }}
                                    </p> -->

                        <!-- {% else %} -->

                                    <p>
                                        {{ eighth_section.quote_who_three.content }}
                                    </p>

                            <!-- {% endif %} -->

                            <!-- {% if isChinese == "True" and eighth_section.quote_who_three.sub_content %} -->

                            <!--    <footer class="testimonial-author">
                                        {{ eighth_section.quote_who_three.sub_content }}
                                    </footer> -->

                            <!-- {% else %} -->

                                    <footer class="testimonial-author">
                                        {{ eighth_section.quote_who_three.sub_content }}
                                    </footer>

                            <!-- {% endif %} -->

                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
                
            </section>
            <!-- End Testimonials Section -->


{% endblock %}