{% load static %}

<section class="page-section pb-0" id="portfolio">
    <div class="relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Portfolio
        </h2>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <div class="section-text align-center mb-70 mb-xs-40">
                        {{ fifth_section.intro_content }}
                    
                </div>
            </div>
        </div>
        
        <!-- Works Filter -->                    
        <div class="works-filter font-alt align-center">
            <a href="#" class="filter active" data-filter="*">{{ fifth_section.header_one }}</a>
            <a href="#lms" class="filter" data-filter=".lms">{{ fifth_section.header_two }}</a>
            <a href="#design" class="filter" data-filter=".curriculum">{{ fifth_section.header_three }}</a>
            <a href="#photography" class="filter" data-filter=".photography">{{ fifth_section.header_four }}</a>
        </div>                    
        <!-- End Works Filter -->
        
        <!-- Works Grid -->
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
            
            <!-- Work Item (Lightbox) -->
            <li class="work-item mix photography">
                
                    <div class="work-img">
                        <img src="{{ fifth_section.picture_one.image.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ fifth_section.picture_one.caption }}</h3>
                        <div class="work-descr">
                            {{ fifth_section.picture_one.sub_caption }} 
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->
            
            <!-- Work Item (External Page) -->
            <li class="work-item mix lms curriculum">
                
                    <div class="work-img">
                        <img class="work-img" src="{{ fifth_section.picture_two.image.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ fifth_section.picture_two.caption }}</h3>
                        <div class="work-descr">
                            {{ fifth_section.picture_two.sub_caption }}
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->
            
            <!-- Work Item (External Page) -->
            <li class="work-item mix lms">
                
                    <div class="work-img">
                        <img class="work-img" src="{{ fifth_section.picture_three.image.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ fifth_section.picture_three.caption }}</h3>
                        <div class="work-descr">
                            {{ fifth_section.picture_three.sub_caption }}
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->
            
            <!-- Work Item (External Page) -->
            <li class="work-item mix curriculum photography">
                
                    <div class="work-img">
                        <img class="work-img" src="{{ fifth_section.picture_four.image.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ fifth_section.picture_four.caption }}</h3>
                        <div class="work-descr">
                            {{ fifth_section.picture_four.sub_caption }}
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->
            
            <!-- Work Item (External Page) -->
            <li class="work-item mix curriculum">
                
                    <div class="work-img">' %}
                        <img class="work-img" src="{{ fifth_section.picture_five.image.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ fifth_section.picture_five.caption }}</h3>
                        <div class="work-descr">
                            {{ fifth_section.picture_five.sub_caption }}
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->
            
            <!-- Work Item (Lightbox) -->
            <li class="work-item mix curriculum lms">
                
                    <div class="work-img">
                        <img src="{{ fifth_section.picture_six.image.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ fifth_section.picture_six.caption }}</h3>
                        <div class="work-descr">
                            {{ fifth_section.picture_six.sub_caption }}
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->
            
        </ul>
        <!-- End Works Grid -->
        
    </div>
</section>