{% load static %}
<section class="page-section" id="services">
    <div class="container relative">
        

       
        <!-- {% if isChinese == "True" and third_section.chinese_header %} -->

   <!-- <h2 class="section-title font-alt mb-70 mb-sm-40">
            {{ third_section.chinese_header }}
        </h2> -->

        <!-- {% else %} -->

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            <span class="chinese">{{ third_section.chinese_header }}</span>
            <span class="english">{{ third_section.header }}</span>
        </h2>

        <!-- {% endif %} -->


        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="active">
                <a href="#service-branding" data-toggle="tab">
                    
                    <div class="alt-tabs-icon">
                        <span class="{{third_section.first_icon_section.icon.name}}"></span>
                    </div>

                    {{third_section.first_icon_section.icon.caption}}
                </a>
            </li>
            <li>
                <a href="#service-web-design" data-toggle="tab">
                    
                    <div class="alt-tabs-icon">
                   
                        <span class="{{third_section.second_icon_section.icon.name}}"></span>
                    </div>
                    
                    {{third_section.second_icon_section.icon.caption}}
                </a>
            </li>
            <li>
                <a href="#service-graphic" data-toggle="tab">
                    
                    <div class="alt-tabs-icon">
                        <span class="{{ third_section.third_icon_section.icon.name }}"></span>
                    </div>
                    
                    {{ third_section.third_icon_section.icon.caption }}
                    
                </a>
            </li>
            <li>
                <a href="#service-development" data-toggle="tab">
                    
                    <div class="alt-tabs-icon">
                        <span class="{{third_section.forth_icon_section.icon.name}}"></span>
                    </div>
                    
                    {{ third_section.forth_icon_section.icon.caption }}
                </a>
            </li>
            
        <!-- End Nav tabs -->
        
        <!-- Tab panes -->
        <div class="tab-content tpl-tabs-cont">
            
            <!-- Service Item -->
            <div class="tab-pane fade in active" id="service-branding">
                
                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                
                        <!-- {% if isChinese == "True" and third_section.first_icon_section.text_section_one.chinese_content %} -->
                        <!--    <p>
                                   {{ third_section.first_icon_section.text_section_one.chinese_content }}
                                </p> -->
                        <!-- {% else %} -->

                                <p>
                                   {{ third_section.first_icon_section.text_section_one.content }}
                                </p>
                        <!-- {% endif %} -->
                               
                        <!-- {% if isChinese == "True" and third_section.first_icon_section.text_section_one.chinese_sub_content %} -->
                                
                        <!--    <footer>
                                    {{ third_section.first_icon_section.text_section_one.chinese_sub_content }}
                                </footer> -->
                        <!-- {% else %} -->

                                <footer>
                                    {{ third_section.first_icon_section.text_section_one.sub_content }}
                                </footer>
                        <!-- {% endif %} -->
                                
                                
                            </blockquote>
                        </div>
                        <!-- {% if isChinese == "True" and third_section.first_icon_section.text_section_two.chinese_content %} -->
                 <!--   <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.first_icon_section.text_section_two.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.first_icon_section.text_section_two.content }}
                        </div>
                        <!-- {% endif %} -->
                        <!-- {% if isChinese == "True" and third_section.first_icon_section.text_section_three.chinese_content %} -->
                 <!--   <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.first_icon_section.text_section_three.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.first_icon_section.text_section_three.content }}
                        </div>
                        <!-- {% endif %} -->
                    </div>
                </div>
                
            </div>
            <!-- End Service Item -->
            
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-web-design">
                
                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                               
                        <!-- {% if isChinese == "True" and third_section.second_icon_section.text_section_one.chinese_content %} -->
                        <!--    <p>
                                   {{ third_section.second_icon_section.text_section_one.chinese_content }}
                                </p> -->
                        <!-- {% else %} -->
                                <p>
                                   {{ third_section.second_icon_section.text_section_one.content }}
                                </p>
                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and third_section.second_icon_section.text_section_one.chinese_sub_content %} -->        
                        <!--    <footer>
                                    {{ third_section.second_icon_section.text_section_one.chinese_sub_content }}
                                </footer> -->
                        <!-- {% else %} -->
                                <footer>
                                    {{ third_section.second_icon_section.text_section_one.sub_content }}
                                </footer>
                        <!-- {% endif %} -->
                                
                                
                            </blockquote>
                        </div>

                        <!-- {% if isChinese == "True" and third_section.second_icon_section.text_section_two.chinese_content %} -->

                <!--    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.second_icon_section.text_section_two.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.second_icon_section.text_section_two.content }}
                        </div>
                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and third_section.second_icon_section.text_section_three.chinese_content %} -->
                <!--    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.second_icon_section.text_section_three.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.second_icon_section.text_section_three.content }}
                        </div>
                        <!-- {% endif %} -->
                    </div>
                </div>
                
            </div>
            <!-- End Service Item -->
            
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-graphic">
                
                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                            
                            <!-- {% if isChinese == "True" and third_section.third_icon_section.text_section_one.chinese_content %} -->
                        <!--    <p>
                                   {{ third_section.third_icon_section.text_section_one.chinese_content }}
                                </p> -->
                            <!-- {% else %} -->
                                <p>
                                   {{ third_section.third_icon_section.text_section_one.content }}
                                </p>
                            <!-- {% endif %} -->

                            <!-- {% if isChinese == "True" and third_section.third_icon_section.text_section_one.chinese_sub_content %} -->

                        <!--    <footer>
                                    {{ third_section.third_icon_section.text_section_one.chinese_sub_content }}
                                </footer> -->
                            <!-- {% else %} --> 
                                <footer>
                                    {{ third_section.third_icon_section.text_section_one.sub_content }}
                                </footer>
                            <!-- {% endif %} -->
                                
                                
                            </blockquote>
                        </div>

                        <!-- {% if isChinese == "True" and third_section.third_icon_section.text_section_two.chinese_content %} -->
                        
                <!--    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.third_icon_section.text_section_two.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.third_icon_section.text_section_two.content }}
                        </div>
                        <!-- {% endif %} -->

                        <!-- {% if isChinese == "True" and third_section.third_icon_section.text_section_three.chinese_content %} -->

                <!--    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.third_icon_section.text_section_three.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.third_icon_section.text_section_three.content }}
                        </div>
                        <!-- {% endif %} -->
                    </div>
                </div>
                
            </div>
            <!-- End Service Item -->
            
            <!-- Service Item -->
            <div class="tab-pane fade" id="service-development">
                
                <div class="section-text">
                    <div class="row">
                        <div class="col-md-4 mb-md-40 mb-xs-30">
                            <blockquote class="mb-0">
                                
                            <!-- {% if isChinese == "True" and third_section.forth_icon_section.text_section_one.chinese_content %} -->

                        <!--    <p>
                                   {{ third_section.forth_icon_section.text_section_one.chinese_content }}
                                </p> -->
                            <!-- {% else %} -->
                                <p>
                                   {{ third_section.forth_icon_section.text_section_one.content }}
                                </p>
                            <!-- {% endif %} -->
                            
                            <!-- {% if isChinese == "True" and third_section.forth_icon_section.text_section_one.chinese_sub_content %} -->
                                
                        <!--    <footer>
                                    {{ third_section.forth_icon_section.text_section_one.chinese_sub_content }}
                                </footer> -->
                            <!-- {% else %} -->
                                <footer>
                                    {{ third_section.forth_icon_section.text_section_one.sub_content }}
                                </footer>
                            <!-- {% endif %} -->
                                
                            </blockquote>
                        </div>

                        <!-- {% if isChinese == "True" and third_section.forth_icon_section.text_section_two.chinese_content %} -->

                <!--    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.forth_icon_section.text_section_two.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.forth_icon_section.text_section_two.content }}
                        </div>
                        <!-- {% endif %} -->
                        
                        <!-- {% if isChinese == "True" and third_section.forth_icon_section.text_section_three.chinese_content %} -->

                <!--    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.forth_icon_section.text_section_three.chinese_content }}
                        </div> -->
                        <!-- {% else %} -->
                        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                            {{ third_section.forth_icon_section.text_section_three.content }}
                        </div>
                        <!-- {% endif %} -->

                    </div>
                </div>
                
            </div>
            <!-- End Service Item -->
            
            
            
        </div>
        <!-- End Tab panes -->
        
    </div>
</section>